<h1>Create a New Blogger</h1>

<% if @blogger.errors.any? %>
    <h2>Oops! There were some errors:</h2>
    <ul>
        <% @blogger.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @blogger do |f| %>
    <p> Name: <%= f.text_field :name %> </p>
    <p> Bio: <%= f.text_area :bio %> </p>
    <p> Age: <%= f.number_field :age %> </p>
    <p> <%= f.submit %>
<% end %>
